<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <style>
      .p1 {
        padding-top: 200px;
        padding-left: 500px;
      }
      .card {
        background-color: pink;
      }
    </style>
  </head>
  <body>
    <div class="p1">
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">HELLO</h5>
          <p class="card-text">You are successfully logged in.</p>
          <a class="btn btn-primary" href="/" role="button">BACK TO HOME</a>
        </div>
      </div>
    </div>
  </body>
</html>
